@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --pink-primary: #e30962;
  --pink-seconday: #ff3a6f;
  --pink-seconday: #f4507c;
  --blue: #38b6ff;
  --off-white: #f7f7f7;
  --pure-black: #000000;
  --pure-black-transparent: #000000b2;
  --dark-color: #333333;
  --btn-green: #27ae60;
  --font-defaut: "Roboto", monospace;
  --font-dark-color: #383838;
  --purple: #5662b7;
  --light-color: #f2f2f2;
  --light-color-2: #e2e2e2;
  --dashed-transparent: #ffffff6b;
}

.container {
  max-width: 1920px;
  width: 80%;
  margin: auto;

  /* background-color: tomato; */
}

body {
  background-color: var(--light-color-2);
  font-family: var(--font-defaut);
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 0 50px;
  color: var(--light-color);
  background-color: var(--pink-seconday);
  border: none;
  border-radius: 5px;
  /* or 114% */
  text-transform: lowercase;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--font-defaut);
  font-weight: 500;
  cursor: pointer;
}

.right {
  float: right;
}

.body {
  color: #383838;
}

/* Navbar */

nav {
  height: 80px;
  width: 100%;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

nav .container h1 {
  color: var(--pink-primary);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: var(--font-defaut);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

/* Index */

.display.display-min {
  min-width: 300px;
  letter-spacing: 2px;
}

.index-content {
  display: flex;
  min-height: 700px;
}

.info-index {
  position: relative;
}

.info-index h1 {
  font-size: calc(4em + 1vw);
  margin-top: 150px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--font-defaut);
  color: var(--font-dark-color);
}

.info-index .display {
  font-family: var(--font-defaut);
  margin-top: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;

  line-height: 84px;
  color: var(--dark-color);
}

.subtitle {
  font-family: var(--font-defaut);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin: 50px 0;
  color: var(--pink-primary);
}

.info-index h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
  font-family: var(--font-defaut);
  color: var(--purple);
}

.my-custom-blockquote::after {
  content: "♬𝄞";
  position: absolute;
  z-index: 1;
  top: 8px;
  transform: translate(-132%, -50%) rotate(-16deg);
  width: 1.3em;
  height: 1.3em;
  border-radius: 999px;
  display: grid;
  place-content: center;
  padding-top: 0.5em;
  color: var(--pink-seconday);
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  -webkit-font-smoothing: antialiased !important;
}

.my-custom-blockquote.custom-min::after {
  transform: translate(-108%, -50%) rotate(-16deg);
}

.not-found h3 {
  font-size: 60px;
}

.box-text-index {
  width: 50%;
}

.index-img {
  display: flex;
  width: 50%;
  margin: auto;
}

.index-img.img-false {
  opacity: 0;
  display: none;
}

.avatar {
  height: 48px;
  border-radius: 50%;
  border: 0.2em solid var(--pink-primary);
}

/* Music page */

.filter {
  /* background-color: red; */
  margin-top: 40px;
  display: inline-block;
  width: 100%;
}

.music-boxes {
  /* background-color: red; */
  /* text-align: center; */
  padding: 48px 0;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 32px;

}

.music-boxes.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.music-boxes.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.music-boxes.one-columns {
  grid-template-columns: repeat(1, 1fr);
}

.card-music {
  background-image: url(../imagens/cover-pink.png);
  background-size: cover;
  border: none;
  border-bottom: 8px solid var(--pink-primary);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 200px;
  height: 432px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card-music button {
  color: var(--pink-primary);
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;

  border-radius: 24px;
  background: transparent;
  border: none;
  outline: none;
  z-index: 30;
}

.card-music button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  opacity: 0.1;
  box-shadow: 21px -21px 42px var(--dashed-transparent),
    -21px 21px 42px var(--light-color-2);
  background: rgb(242, 242, 242);
  background: linear-gradient(188deg,
      rgba(242, 242, 242, 1) 1%,
      rgb(222, 219, 219) 7%,
      rgb(179, 178, 178) 18%,
      rgba(255, 255, 255, 0.06214985994397759) 100%);

  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }

    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

  pointer-events: none;
}

.info-music {
  background-color: var(--pure-black-transparent);
  min-height: 180px;
  width: 100%;
  align-self: flex-end;
  flex-wrap: wrap;
  padding: 15px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.icons {
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.icons img {
  margin-left: 2px;
  cursor: pointer;
}

.card-music p {
  font-family: var(--font-defaut);
  color: var(--off-white);
  font-weight: 300;
  line-height: 175%;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.music-box {
  width: 290px;
  margin: 5px;
  font-family: var(--font-defaut);
  display: inline-block;
}

.icons .stars {
  float: right;
}

.music-box label {
  font-weight: bold;
  color: var(--light-color);
  font-size: 17px;
}

.music-box input {
  border: none;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 17px;
  width: inherit;
}

.img-music {
  background-color: var(--light-color-2);
  background-size: cover;
  height: 290px;
}

.music-data {
  background-color: var(--dark-color);
}

.name,
.genre,
.release,
.icons {
  padding: 10px;
  text-align: left;
}

.name label {
  width: 200px;
}

.genre label {
  width: 195px;
}

.release label {
  width: 100px;
}

/* enable MÚSICA */

.add-music {
  display: flex;
  width: 100%;
  min-height: 80vh;
  transition: all 0.3s ease-in;
}

.add-music img {
  /* width: 50%;
    height: 50%; */
  margin-top: 150px;
}

/* .add-music img {
    width: 50%;
} */

.formulario,
.formulario-erro {
  width: 50%;
}

.img-lateral {
  width: 50%;
}

.img-lateral.img-min {

  display: none;

}

form {
  width: 100%;
  font-family: var(--font-defaut);
  color: var(--off-white);
  text-transform: lowercase;
  margin-top: 50px;
}

form div {
  margin-left: 0;
}

form input {
  text-align: center;
  width: 90%;
  height: 40px;
  border: solid --font-dark-color 1px;
  margin-bottom: 25px;
  font-family: var(--font-defaut);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  outline: none;
  transition: all 0.3s ease-in;
  background-color: var(--off-white);
}

form input:focus,
form input:hover {
  background-color: #fff;

  outline: none;
  border-color: rgba(227, 47, 116, 0.616);
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

form label {
  font-family: var(--font-defaut);
  margin: 15px 0;
  color: var(--font-dark-color);
}

.add-music h1 {
  margin: 50px 0;
  font-family: var(--font-defaut);
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  display: flex;
  align-items: center;
  color: var(--off-white);
  color: var(--dark-color);
}

.add-music h3 {
  margin: 1rem 0;
  font-family: var(--font-defaut);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  align-items: center;
  color: var(--pink-seconday);
}

.input-music-disabled {
  line-height: 16px;

  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: 0.3s ease;
}

.input-music-enable {
  line-height: 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input-music-enable:focus,
.input-music-enable:hover {
  outline: none;
  border-color: rgba(227, 47, 116, 0.616);
  background-color: var(--off-white);
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.card-title {
  width: 35%;
}

.btn-salvar-enable {
  margin: 10px 0;
  float: right;
  border: none;
}

.btn-salvar-disabled {
  float: right;
  color: transparent;
  border: none;
  padding: 5px;
  border-radius: 5px;
  display: none;
  opacity: 0;
}



@media only screen and (max-width: 900px) {

  .info-index {
    width: 100%;
  }

  .info-index .display {
    font-size: 2.5rem;
    width: 80vw;
    align-self: center;
    margin-left: 10%;
  }

  .subtitle {
    font-size: 1.5rem;

    width: 80vw;
    align-self: center;

  }

  .index-img {
    opacity: 0.3;
    z-index: -1;
  }


}