@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --pink-primary: #e30962;
  --pink-seconday: #ff3a6f;
  --blue: #38b6ff;
  --off-white: #f7f7f7;
  --pure-black: #000000;
  --pure-black-transparent: #000000b2;
  --dark-color: #333333;
  --btn-green: #27ae60;
  --font-defaut: "Roboto", monospace;
  --font-dark-color: #383838;
  --purple: #5662b7;
  --light-color: #f2f2f2;
  --light-color-2: #E2E2E2;
  --dashed-transparent: #ffffff6b;
}

.container {
  max-width: 1920px;
  width: 80%;
  margin: auto;

  /* background-color: tomato; */
}

body {
  background-color: var(--light-color-2);
  font-family: var(--font-defaut);
}



.btn {
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 0 50px;
  color: var(--light-color);
  background-color: var(--pink-seconday);
  border: none;
  border-radius: 5px;
  /* or 114% */
  text-transform: lowercase;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--font-defaut);
  font-weight: 500;
  cursor: pointer;
}

.right {
  float: right;
}

.body {
  color: #383838;
}

/* Navbar */

nav {
  height: 80px;
  width: 100%;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


nav .container h1 {

  color: var(--pink-primary);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: var(--font-defaut);

}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}







/* Index */

.index-content {
  display: flex;
  min-height: 700px;
}

/* .info-index {
    border: 1px solid red;
} */

.info-index h1 {
  font-size: calc(4em + 1vw);
  margin-top: 150px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--font-defaut);
  color: var(--font-dark-color);
}

.info-index .display {
  font-family: var(--font-defaut);
  margin-top: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  color: var(--dark-color);
}

.subtitle {
  font-family: var(--font-defaut);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin: 50px 0;
  color: var(--pink-primary);
}

.info-index h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
  font-family: var(--font-defaut);
  color: var(--purple);
}

.not-found h3 {
  font-size: 60px;

}



.box-text-index {
  width: 50%;
}

.index-img {
  width: 50%;
  margin: auto;
}

/* Music page */

.filter {
  /* background-color: red; */
  margin-top: 40px;
  display: inline-block;
  width: 100%;
}

.music-boxes {
  /* background-color: red; */
  /* text-align: center; */
  padding-top: 50px;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 32px;
}

.music-boxes.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.music-boxes.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.music-boxes.one-columns {
  grid-template-columns: repeat(1, 1fr);
}

.card-music {
  background-image: url(../imagens/cover-pink.png);
  background-size: cover;

  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 200px;
  height: 432px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
}

.info-music {
  background-color: var(--pure-black-transparent);
  min-height: 180px;
  width: 100%;
  align-self: flex-end;
  flex-wrap: wrap;
  padding: 15px;

}



.icons {
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.icons img {
  margin-left: 2px;
  cursor: pointer;
}

.card-music p {
  font-family: var(--font-defaut);
  color: var(--off-white);
  font-weight: 300;
  line-height: 175%;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.music-box {
  width: 290px;
  margin: 5px;
  font-family: var(--font-defaut);
  display: inline-block;
}

.icons .stars {
  float: right;
}

.music-box label {
  font-weight: bold;
  color: var(--light-color);
  font-size: 17px;
}

.music-box input {
  border: none;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 17px;
  width: inherit;
}

.img-music {
  background-color: var(--light-color-2);
  background-size: cover;
  height: 290px;
}

.music-data {
  background-color: var(--dark-color);
}

.name,
.genre,
.release,
.icons {
  padding: 10px;
  text-align: left;
}

.name label {
  width: 200px;
}

.genre label {
  width: 195px;
}

.release label {
  width: 100px;
}

/* enable MÚSICA */

.add-music {
  display: flex;
  width: 100%;
  min-height: 80vh;
  transition: all 0.3s ease-in;
}

.add-music img {
  /* width: 50%;
    height: 50%; */
  margin-top: 150px;
}

/* .add-music img {
    width: 50%;
} */

.formulario,
.formulario-erro {
  width: 50%;
}


.img-lateral {
  width: 50%;
}

form {
  width: 100%;
  font-family: var(--font-defaut);
  color: var(--off-white);
  text-transform: lowercase;
  margin-top: 50px;
}

form div {
  margin-left: 0;
}

form input {
  text-align: center;
  width: 90%;
  height: 40px;
  border: solid --font-dark-color 1px;
  margin-bottom: 25px;
  font-family: var(--font-defaut);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  outline: none;
  transition: all 0.3s ease-in;
  background-color: var(--off-white);

}

form input:focus,
form input:hover {
  background-color: #fff;

  outline: none;
  border-color: rgba(227, 47, 116, 0.616);
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);

}

form label {
  font-family: var(--font-defaut);
  margin: 15px 0;
  color: var(--font-dark-color);
}

.add-music h1 {
  margin: 50px 0;
  font-family: var(--font-defaut);
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  display: flex;
  align-items: center;
  color: var(--off-white);
  color: var(--dark-color);

}

.add-music h3 {
  margin: 1rem 0;
  font-family: var(--font-defaut);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  align-items: center;
  color: var(--pink-seconday);

}

.input-music-disabled {
  line-height: 16px;

  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: .3s ease;
}

.input-music-enable {
  line-height: 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input-music-enable:focus,
.input-music-enable:hover {
  outline: none;
  border-color: rgba(227, 47, 116, 0.616);
  background-color: var(--off-white);
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}



.card-title {
  width: 35%;
}

.btn-salvar-enable {
  margin: 10px 0;
  float: right;
  background-color: var(--pink-seconday);
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.btn-salvar-disabled {
  float: right;
  background-color: green;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  display: none;
  opacity: 0;
}

/* @media only screen and (min-width: 992px) {
  .music-boxes.count {
    column-count: 3;
  }
}

@media only screen and (max-width: 732px) {
  .music-boxes.count {
    column-count: 2;
  }
} */